{% include 'base.html' %}
<div class="container" id="allauth-reset-password">
    {% load i18n %}
    {% load allauth account socialaccount %}
    {% block content %}
    {% element h1 %}
    {% trans "Sign In" %}
    {% endelement %}
    <p>
        {% blocktrans %}
        If you have not created an account yet, then please
        {% endblocktrans %}
        <a href="{% url 'register' %}">{% trans 'sign up' %}</a>
        {% blocktrans %}
        first.
        {% endblocktrans %}
    </p>
    {% url 'account_login' as login_url %}
    {% element form form=form method="post" action=login_url tags="entrance,login" %}
    {% slot body %}
    {% csrf_token %}
    {% element fields form=form unlabeled=True %}
    {% endelement %}
    <div>
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    </div>
    {% endif %}
    {% endslot %}
    {% slot actions %}
    <div id="submit-reset">
        {% element button type="submit" tags="prominent,login" %}
        {% trans "Sign In" %}
        {% endelement %}</div>
</div>
        {% endslot %}
        {% endelement %}
        {% endblock content %}