{% include 'base.html' %}
<div class="container" id="allauth-reset-password">
{% load allauth i18n %}
<h1>Change password:</h1>
{% block content %}
    {% url 'account_change_password' as action_url %}
    {% element form form=form method="post" action=action_url %}
        {% slot body %}
            {% csrf_token %}
            {% element fields form=form %}
            {% endelement %}
        {% endslot %}
        {% slot actions %}
        <div id="submit-reset">
            {% element button type="submit" %}
                {% trans "Change Password" %}
            {% endelement %}</div>
            </div>
        {% endslot %}
    {% endelement %}
{% endblock content %}
