@import url('https://fonts.googleapis.com/css2?family=Bitter&family=Crimson+Text:wght@600&family=EB+Garamond&family=Lato:wght@300&family=Oswald&display=swap');

body {
    font-family: 'Libre Bodoni', sans-serif;
    color: black;
}

/* base, index, header and footer */
#recommendation-what {
    margin-top: 10px;
}

#join-promo {
    margin-top: 40px;
    margin-bottom: 40px;
}

#quote-section {
    margin-top: 40px;
}

#nav-button {
    border: none;
    font-size: 1.3rem;
}

.navbar {
    margin-bottom: 10px;
    background-color: #64497049;
    background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.6) 100%);
    border-top: 5px solid #644970;
    border-bottom: 1px solid #64497017;
}

#navbarNav {
    text-align: right;
}

.nav-link {
    font-size: larger;
    margin-right: 14px;
}

.nav-item:hover {
    color: #644970;
}

.dropdown-menu[data-bs-popper] {
    text-align: left;
    border: none;
}

#dropdown-logged-in .btn {
    color: #644970;
    background-color: #ffff;
    border: none;
}

#dropdown-logged-in .dropdown-menu .dropdown-item {
    color: #644970;
    font-size: larger;
}

#dropdown-logged-out .btn {
    color: #644970;
    background-color: transparent;
    border: none;
}

#dropdown-logged-out .dropdown-menu .dropdown-item {
    color: #644970;
    font-size: larger;
}

#login-area i {
    font-size: 1.3rem;
}

.custom-dropdown .dropdown-menu {
    box-shadow: none;
}

.navbar-toggler,
.menu-title {
    color: #644970;
}

.navbar-toggler {
    border: none !important;
}

.whatsapp-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}

.whatsapp-icon i {
    width: 60px;
    height: auto;
    font-size: 48px;
    margin-bottom: 80px;
}

.footer {
    background-color: #644970;
    padding: 20px;
    bottom: 0;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 5px 0;
    position: fixed;
    z-index: 1;
}

#footer-content-container {
    margin-top: 20px;
    position: relative;
}

#data-protection {
    text-decoration: none;
}

#data-protection p,
#social-media p {
    margin: 0;
    color: #ffff;
}

#social-media a {
    margin-right: 3px;
    text-decoration: none;
}

#social-media,
.fa-brands {
    color: #ffff;
}

#footer-join i {
    margin-left: 5px;
    font-weight: bold;
}

#footer-join a {
    text-decoration: none;
    color: #ffff;

}

p {
    margin-bottom: 0;
}

#main-section {
    position: absolute;
}

.explore-button {
    margin-top: 20px;
}

#hero-banner {
    background-image: url('../images/hero-banner-4.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 70vh;
    margin-bottom: 30px;
}

.banner {
    margin-bottom: 30px;
    text-align: center;
}

.banner h5 {
    margin-bottom: 50px;
    text-align: center;
    font-size: 2.5rem;
    color: #ffff;
}

#button-about {
    width: 100%;
    font-size: 1.3rem;
    background-color: #6449707a;
    color: #ffff;
    border: none;
    margin: 0;
}

.text-promo {
    position: absolute;
    width: 50%;
    background-color: #eb3752c7;
    height: 25%;
    margin-top: 50%;
    margin-left: 6px;
    padding: 25px;
    font-size: 1.7rem;
    color: white;
    text-align: center;
}

.explore-button {
    margin-top: 0px;
    position: absolute;
    background-color: #40B93C;
    color: #ffff;
}

#second-main-section {
    position: absolute;
}

#find-more-tool {
    color: #644970;
    width: 100%;
    padding-top: 8px;
    padding-bottom: 5px;
    font-weight: bold;

}

.learn-more {
    width: 100%;
    padding-top: 10px;
    margin-bottom: 10px;
    border-top: 2px solid;
    border-color: #644970;
}

#join-team-text {
    color: #000000;
    padding: 10px;
}

#join-team-image {
    position: relative;
    width: 30%;
    padding: 10px;
}

h6 {
    line-height: 1.5;
}

#btn-join {
    color: #ffff;
    padding: 10px;
    background-color: #0097B2;
    border: none;
    margin-top: 30px;
    font-size: 1.3rem;
}

#button-promo {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    border: none;
    width: 100%;
    margin-top: 60%;
    font-size: 1.3rem;
    padding: 10px;
    color: #EB3752;
    background-color: rgba(255, 255, 255, 0.815);
    font-weight: bold;
}

.image-container {
    position: relative;
}

#button-tool {
    color: #ffff;
    padding: 10px;
    background-color: #644970;
    border: none;
    font-size: 1.3rem;
}

#tool-image {
    max-width: 100%;
}

.quote-author {
    font-weight: bold;
}

#quote-section h5 {
    line-height: 1.5;
}

#about-section {
    position: relative;
}

#promo-section {
    margin-top: 30px;
    margin-bottom: 30px;
}

/* About page */

#about-container {

    margin-top: 15px;

}

#where-card,
#how-card,
#use-card,
#contact-card {
    border: none;
}

#where-card h5,
#how-card h5,
#use-card h5,
#contact-card h5 {
    border: none;
    text-transform: uppercase;
}

#where-card p,
#how-card p,
#use-card p,
#contact-card p {
    color: #000000;
}

#where-card,
#how-card,
#use-card {
    border: none;
    border-top: 2px solid #644970;
    border-radius: 0;
}

#contact-card {
    color: #0097B2;
}

#contact-card h5 {
    font-weight: bold;
}

#where-card i,
#how-card i,
#use-card i {

    font-size: 2rem;
    margin-top: 15px;
    margin-bottom: 15px;
    color: #644970;

}

#contact-card h6 {
    margin-left: 10px;
    font-size: 1.2rem;
    line-height: 1.5;
    margin-left: 10px;
}

#contact-card i {
    margin-left: 10px;
    font-size: 1.3rem;
    color: #0097B2;
}

#contact-card a {

    text-decoration: none;

}

.about-quote {
    font-style: italic;
    font-size: small;
}

/* About me */

#about-me-text h5 {
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 30px;

}

#about-me-text p {
    line-height: 1.5;
    padding-bottom: 50px;

}

#about-me-text img {

    margin-top: 10px;
    margin-bottom: 10px;
}

/* Data protection sections */

#gdpr-text h4 {
    font-weight: bold;
    text-align: center;
}

#gdpr-text h6 {
    font-weight: bold;
}

#gdpr-text h5 {
    font-weight: bold;
    text-decoration: underline;
}

#gdpr-text p {
    line-height: 1.3;
    margin-bottom: 20px;
}

#gdpr-text {
    margin-bottom: 70px;
}

/* Error pages */

#text-404 a {
    text-decoration: none;
}

#text-404 i {
    font-size: large;
    font-weight: bold;
}

#text-403 {
    text-decoration: none;
}

#text-403 i {
    font-size: large;
    font-weight: bold;
}

#text-500 {
    text-decoration: none;
}

#text-500 i {
    font-size: large;
    font-weight: bold;
}

/*Promo page */

#social-media, .fa-brands {
    color: #0097B2;
    text-decoration: none;
    font-size: 1.2rem;
}

#promo-social a {
    text-decoration: none;
}

#promotion-container {
    margin-bottom: 100px;
}

.validity {
    font-weight: 600;
    text-align: center;
    color: #644970;
}

.details-dropdown button {
    text-decoration: none;
    color: #644970;
    margin-left: 10px;
    padding: 0;
    cursor: pointer;
}

.details-dropdown button:hover {
    color: #EB3752;
}

.details-dropdown {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.promo-text {
    padding-top: 20px;
    padding-right: 40px;
    padding-bottom: 0;
    padding-left: 40px;
}

#detailsArea i {
    color: #0097B2;
    font-size: 1.3rem;
    padding: 0px 5px;
    text-decoration: none;
}



.contact-text {
    color: #0097B2;
    padding-bottom: 10px;
}

#detailsArea a {
    text-decoration: none;
}

textarea {
    resize: vertical;
    width: 100%;
    height: 150px;
}

button#save-promo-change {
    background-color: transparent;
    border: none;
    color: #339933;
    margin-top: 10px;
}

button#save-promo-change:hover {
    color: #ffff;
    background-color: #339933;
    width: 50%;
    padding: 5px;
    border-radius: 5px;
}

button#delete-promo:hover {
    color: #ffff;
    background-color: #993333;
    width: 50%;
    padding: 5px;
    border-radius: 5px;
}

button#delete-promo {
    background-color: transparent;
    border: none;
    color: #993333;
    margin-top: 10px;
}

/* Account section */

.account-section {
    margin-top: 30px;
    margin-bottom: 50px;
}

.account-section h5 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;
}

.account-section h6 {
    line-height: 2;
}

.account-section i {
    margin-left: 10px;
}

.edit-account {
    color: #EB3752;
}

.save-changes {
    color: #1a7917;
}

.user-contact-input {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.form-labels {
    font-weight: 500;
}

/*Recommandation section*/

#active-filters .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#active-filters nav.row {
    display: inline-block;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    margin-left: 10px;
    display: inline-block;
    font-size: small;
}

#search input {
    border: none;
    border-bottom: 1px solid #644970;
    outline: none;
    border-radius: 0;
}

#search input::placeholder {
    color: #644970b1;
}

.product-name {
    color: #644970;
    font-size: 1.3rem;
}

.product-section h6 {
    color: #644970;
    margin-top: 30px;
}

.product-section p {
    margin-top: 10px;
    margin-bottom: 10px;
}

.contact-text-product {
    color: #0097B2;
    text-decoration: none;
}

.contact-text-product i {
    color: #0097B2;
    font-size: large;
}

.contact-text-product a {
    text-decoration: none;
}

.product-separator {
    color: #64497086;
}

.add-to-favorites-btn {
    background-color: #ffff;
    border: none;
    padding-top: 5px;
    color: #eb37525c;
    font-size: small;
    transition: color 0.3s ease;
}

.add-to-favorites-btn:hover {
    color: #EB3752;
}

.filter-section input[type="checkbox"] {
    margin-right: 5px;
}

#apply-button,
#clear-all-button {
    text-decoration: none;
    background-color: #ffff;
    border: none;
    color: #644970;
    font-size: small;
}

#apply-button {
    color: #644970;
    margin-top: 10px;
}

#clear-all-button {
    color: darkred;
}

.filter-section p {
    margin-top: 5px;
    margin-bottom: 5px;
    color: #644970;
}

/* Contact */

#contact-image {

    margin-top: 30px;
}


/* Login Modal */
#loginModal {
    background-color: #64497035;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.modal-header h5 {
    text-align: center;
    color: #ffff;
    font-weight: bold;
}

.modal-body {
    background-image: url('../images/modal-background-2.jpg');
    background-size: cover;
    font-size: large;
    color: #000000;
    padding-bottom: 40px;
    padding-top: 40px;
    padding-left: 25px;
    padding-right: 25px;
    color: #ffff;
}

.modal-header {
    background-image: url('../images/modal-background-2-header.jpg');
    background-size: cover;
    color: #000000;
    font-weight: bold;
}

.modal-footer {
    background-image: url('../images/modal-background-2-header.jpg');
    background-size: cover;
    color: #000000;
    display: flex;
    justify-content: space-between;
}

#login-button {
    background-color: #0097B2;
    width: 40%;
    font-size: large;
    border: none;
}

#login-button:hover {
    background-color: #ffff;
    color: #0097B2;
}

#register-button {
    background-color: #644970;
    width: 40%;
    font-size: large;
    margin-left: 10px;
    border: none;

}

#register-button:hover {
    background-color: #ffff;
    color: #644970;
}

label#label-password {
    margin-top: 8px;
}

/* Register page */

#why-register img {
    margin-top: 30px;
    margin-bottom: 30px;
}

#why-register h5 {
    margin-top: 15px;
    margin-bottom: 15px;
    color: #644970;
    font-weight: bold;
}

#why-register h6 {
    margin-top: 15px;
    margin-bottom: 15px;
    color: #644970;
    font-weight: bold;
    text-decoration: underline;
}

#why-register a {
    margin-top: 5px;
    color: #EB3752;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}

#why-register i {
    color: #EB3752;

}

.tool-access-register {
    margin-bottom: 20px;
}

.tool-access-register {
    margin-bottom: 5px;
}

#register-section {
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
}

#register-section input {
    margin-bottom: 20px;
}

#register-section button:hover {
    border: #644970 solid;
}

#register-section button {

    margin-bottom: 100px;

}

#register-section label[for="first-name"] {
    margin-top: 40px;
}

#why-register {
    padding-left: 20px;
    padding-right: 20px;
}



/* Screen size optimization */
@media (max-width: 767px) {

    .menu-title,
    .login-title,
    .social-section {
        display: none;
    }

    #toggle-ailment-list {
        text-align: center;
    }

    .navbar-brand {
        width: 100%;
        text-align: center;
    }

    #login-area {
        flex-direction: row-reverse;
    }

    div#navbarNav {
        text-align: right;
    }

    .nav-link {
        font-size: larger;
    }
}