@import url('https://fonts.googleapis.com/css2?family=Bitter&family=Crimson+Text:wght@600&family=EB+Garamond&family=Lato:wght@300&family=Oswald&display=swap');

body {
    font-family: 'Libre Bodoni', sans-serif;
    color: black;
}


/* Code implemented to support accessibility */

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}


/* base, header and footer 
This represents the styling of the basic areas being imported throughout the other pages.
*/

.col-md-2,
.col-md-10 {
    max-width: 100%;
}

#recommendation-what {
    margin-top: 10px;
}

#join-promo {
    margin-top: 40px;
    margin-bottom: 60px;
}

#quote-section {
    margin-top: 40px;
}

#nav-button {
    border: none;
    font-size: 1.3rem;
}

.navbar {
    margin-bottom: 10px;
    background-color: #64497049;
    background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.6) 100%);
    border-top: 5px solid #644970;
    border-bottom: 1px solid #64497017;
}


#navbarNav {
    text-align: right;
}

.nav-link {
    font-size: larger;
    margin-right: 14px;
}

.nav-item:hover {
    color: #644970;
}

.password-change-forgot {
    text-align: left;
    text-decoration: none;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: medium;
    font-weight: 600;
}

.password-change-forgot a {
    text-decoration: none;
}

.password-change-forgot a:hover {
    text-decoration: underline;
}


.forgot-link {
    margin-right: auto;
    color: #644970;
}

.change-link {
    margin-left: auto;
    color: #644970
}

.dropdown-menu[data-bs-popper] {
    text-align: left;
    border: none;
}

#dropdown-logged-in .btn {
    color: #644970;
    background-color: transparent;
    background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.6) 100%);
    border: none;
}

#dropdown-logged-in .dropdown-menu .dropdown-item {
    color: #644970;
    font-size: larger;
}

#dropdown-logged-out .btn {
    color: #644970;
    background-color: transparent;
    border: none;
}

#dropdown-logged-out .dropdown-menu .dropdown-item {
    color: #644970;
    font-size: larger;
}

#login-area i {
    font-size: 1.3rem;
}

.custom-dropdown .dropdown-menu {
    box-shadow: none;
}

.navbar-toggler,
.menu-title {
    color: #644970;
}

.navbar-toggler {
    border: none !important;
}

.whatsapp-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}

.whatsapp-icon i {
    width: 60px;
    height: auto;
    font-size: 48px;
    margin-bottom: 80px;
}

.footer {
    background-color: #644970;
    padding: 20px;
    bottom: 0;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 5px 0;
    position: fixed;
    z-index: 1;
}

#footer-content-container {
    margin-top: 20px;
    position: relative;
}

#data-protection {
    text-decoration: none;
}

#data-protection p,
#social-media-footer p {
    margin: 0;
    color: #ffff;
}

#social-media-footer a {
    margin-right: 3px;
    text-decoration: none;
}

#social-media-footer,
.fa-brands {
    color: #ffff;
}

#social-media-footer,
.fa-brands {
    color: #ffff;
    text-decoration: none;
    font-size: 1.2rem;
}

#footer-join i {
    margin-left: 5px;
    font-weight: bold;
}

#footer-join a {
    text-decoration: none;
    color: #ffff;

}

/* Index page CSS */

p {
    margin-bottom: 0;
}

#main-section {
    position: absolute;
}

.explore-button {
    margin-top: 20px;
}

#hero-banner {
    background-image: url('../images/hero-banner-4.webp');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 30px;
    margin-left: calc(-50vw + 50%);
}

.banner {
    margin-bottom: 30px;
    text-align: center;
}

.banner h5 {
    margin-bottom: 5px;
    text-align: center;
    font-size: 2.2rem;
    color: #ffff;
    background-color: #6449707a;
    color: #ffff;
    width: auto;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#button-about {
    width: 100%;
    font-size: 1.3rem;
    background-color: #6449707a;
    color: #ffff;
    border: none;
    margin: 0;
}

.text-promo {
    position: absolute;
    width: 50%;
    background-color: #eb3752c7;
    height: 25%;
    margin-top: 50%;
    margin-left: 6px;
    padding: 25px;
    font-size: 1.7rem;
    color: white;
    text-align: center;
}

.explore-button {
    margin-top: 0px;
    position: absolute;
    background-color: #40B93C;
    color: #ffff;
}

#second-main-section {
    position: absolute;
}

#find-more-tool {
    color: #644970;
    width: 100%;
    padding-top: 8px;
    padding-bottom: 5px;
    font-weight: bold;

}

.learn-more {
    width: 100%;
    padding-top: 10px;
    margin-bottom: 10px;
    border-top: 2px solid;
    border-color: #644970;
}

#join-team-text {
    color: #000000;
    padding: 10px;
}

#join-team-image {
    position: relative;
    width: 30%;
    padding: 10px;
}

h6 {
    line-height: 1.5;
}

#btn-join {
    color: #ffff;
    padding: 10px;
    background-color: #077386;
    border: none;
    margin-top: 30px;
    font-size: 1.3rem;
}

#btn-join:hover {
    color: #077386;
    padding: 10px;
    background-color: #ffff;
    border: 2px solid #077386;
}


#button-promo {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    border: none;
    width: 100%;
    margin-top: 60%;
    font-size: 1.3rem;
    padding: 10px;
    color: #EB3752;
    background-color: rgba(255, 255, 255, 0.815);
    font-weight: bold;
}

.image-container {
    position: relative;
}

#button-tool {
    color: #ffff;
    padding: 10px;
    background-color: #644970;
    border: none;
    font-size: 1.3rem;
}

#button-tool:hover {
    color: #644970;
    background-color: #ffff;
    border:2px solid #644970;
}

#tool-image {
    max-width: 100%;
    width: 60%;
}

.quote-author {
    font-weight: bold;
}

#quote-section h5 {
    line-height: 1.5;
}

#about-section {
    position: relative;
}

#promo-section {
    margin-top: 30px;
    margin-bottom: 30px;
}

/* About page */

#about-oils-img {
    width: 100vw;
    margin-left: calc(-50vw + 50%);
}

#about-container {

    margin-top: 15px;

}

#where-card,
#how-card,
#use-card,
#contact-card {
    border: none;
}

#where-card h5,
#how-card h5,
#use-card h5,
#contact-card h5 {
    border: none;
    text-transform: uppercase;
}

#where-card p,
#how-card p,
#use-card p,
#contact-card p {
    color: #000000;
}

#where-card,
#how-card,
#use-card {
    border: none;
    border-top: 2px solid #644970;
    border-radius: 0;
}

#contact-card {
    color: #077386;
}

#contact-card h5 {
    font-weight: bold;
}

#where-card i,
#how-card i,
#use-card i {

    font-size: 2rem;
    margin-top: 15px;
    margin-bottom: 15px;
    color: #644970;

}

#contact-card h6 {
    margin-left: 10px;
    font-size: 1.2rem;
    line-height: 1.5;
    margin-left: 10px;
}

#contact-card i {
    margin-left: 10px;
    font-size: 1.3rem;
    color: #077386;
}

#contact-card a {

    text-decoration: none;

}

.about-quote {
    font-style: italic;
    font-size: small;
}

#about-other-contact {
    margin-bottom: 60px;
}

#about-other-contact a {
    text-decoration: underline;
    color: #077386
}

#essentialOilsText {
    overflow: hidden;
    transition: max-height 0.3s ease;
}

/* About me */

#about-me-img {
    width: 100vw;
    margin-left: calc(-50vw + 50%);
}

#about-me-text h5 {
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 30px;

}

#about-me-text p {
    line-height: 1.5;
    padding-bottom: 50px;

}

#about-me-text img,
#about-me-text .col-12 {
    max-width: 100%;
}

/* Data protection sections */

#gdpr-text h4 {
    font-weight: bold;
    text-align: center;
}

#gdpr-text h6 {
    font-weight: bold;
}

#gdpr-text h5 {
    font-weight: bold;
    text-decoration: underline;
}

#gdpr-text p {
    line-height: 1.3;
    margin-bottom: 20px;
}

#gdpr-text {
    margin-bottom: 70px;
}

/* Error pages */

#text-404,
#text-403,
#text-500 {
    color: #644970;
}


#img-404,
#img-403,
#img-500 {
    width: 30%;
}


/*Promo page */

#promotions {
    width: 100vw;
    margin-left: calc(-50vw + 50%);
}

#promo-image {
    width:80%;
}

#promo-social .fa-brands {
    color: #077386;
    text-decoration: none;
    font-size: larger;
    padding-right: 5px;
    padding-left: 5px;
}

#promo-social a {
    text-decoration: none;
}

#promotion-container {
    margin-bottom: 100px;
}

#promotion-name {
    font-size: large;
    margin-bottom: 5px;
    color: #eb3752c7;
    font-weight: 600;
}

#promotion-list {
    margin-top: 30px;
}

.validity {
    font-weight: 600;
    text-align: center;
    color: #644970;
}

.details-dropdown button {
    text-decoration: none;
    color: #644970;
    margin-left: 10px;
    padding: 0;
    cursor: pointer;
}

.details-dropdown button:hover {
    color: #EB3752;
}

.details-dropdown {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.promo-text {
    padding-top: 20px;
    padding-right: 40px;
    padding-bottom: 0;
    padding-left: 40px;
}

#detailsArea i {
    color: #077386;
    font-size: 1.3rem;
    padding: 0px 5px;
    text-decoration: none;
}



.contact-text {
    color: #077386;
    padding-bottom: 10px;
    font-size: larger;
}

#detailsArea a {
    text-decoration: none;
}

textarea {
    resize: vertical;
    width: 100%;
    height: 150px;
}

button#save-promo-change {
    background-color: transparent;
    border: #339933 solid 2px;
    color: #339933;
    margin-top: 10px;
    width: 50%;
    padding: 5px;
    border-radius: 5px;
}

button#save-promo-change:hover {
    color: #ffff;
    background-color: #339933;
}

button#delete-promo:hover {
    color: #ffff;
    background-color: #993333;

}

button#delete-promo {
    background-color: transparent;
    border: #993333 solid 2px;
    color: #993333;
    margin-top: 10px;
    width: 50%;
    padding: 5px;
    border-radius: 5px;
}

button.add-promotion-button {
    margin-bottom: 15px;
    background-color: #644970;
    border-color: #644970;
    color: #ffff;
    border-radius: 5px;
    font-weight: 600;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border: #644970 solid 2px;
    margin-top: 20px;
    margin-right: 40px;
}

button.add-promotion-button:hover {
    background-color: #ffff;
    color: #644970;
    border: #644970 solid 2px;
}

#add-promotion-section {
    text-align: right;
}

.label-add-promotion-modal {
    color: #000000;
    font-size: medium;
    color: #644970;
    margin-bottom: 5px;
}

#add-promotion-modal-buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: -18px;
}

#add-promotion-modal-buttons button {
    width: 40%;
}

#save-promotion-button {
    color: #ffff;
    background-color: #339933;
    border: #339933 solid 2px;
}

#save-promotion-button:hover {
    color: #339933;
    background-color: #ffff;
    border: #339933 solid 2px;
}

#clear-promotion-form {
    color: #ffff;
    background-color: #993333;
    border: #993333 solid 2px;
}

#clear-promotion-form:hover {
    color: #993333;
    background-color: #ffff;
    border: #993333 solid 2px;
}


/* Account section */

#favorite-product-section {
    margin-bottom: 60px;
}

.account-section {
    margin-top: 30px;
    margin-bottom: 50px;
}

.account-section h5 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;
}

.account-section h6 {
    line-height: 2;
}

.account-section i {
    margin-left: 10px;
}

#save-profile {
    color: #1a7917;
    border: none;
    background-color: transparent;
    font-weight: 600;
}


#delete-account {
    color: #993333;
    border: none;
    background-color: transparent;
    font-weight: 600;
}

#delete-account:hover {
    color: #ffff;
    border: none;
    background-color: #993333;
    border-radius: 3px;
}

#save-profile:hover {
    color: #ffff;
    border: none;
    background-color: #1a7917;
    border-radius: 3px;
}

.user-contact-input {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.user-contact-input input[type="radio"] {
    margin-left: 10px;
}

.form-labels {
    font-weight: 500;
}

.fav-section {
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 20px;
}

#account-actions {
    margin-top: 20px;
}

.favourite-product {
    margin-bottom: 30px;
}

#favourite-img {
    margin-top: 10px;
    margin-bottom: 10px;
}

#favorite-btn {
    margin-bottom: 5px;
}

#favorite-description-title {
    color: #644970;
}

#favorite-ailments {
    color: #644970;
    margin-top: 10px;
    font-size: small;
}

#favorite-ailments-area {
    margin-top: -5px;
    margin-bottom: -5px;
    font-size: small;
}

#favorite-details-area {
    padding-left: 5px;
    padding-right: 5px;
}

#favorite-description-text {
    font-size: small;
}

#favorite-description-title {
    font-size: small;
    margin-bottom: auto;
    margin-top: 5px;
}

#contact-favorite {
    margin-top: -5px;
}


/*Recommendation section*/

#recommended-contact {
    margin-bottom: 40px;
}

#filter-product-section {
    margin-top: 10px;
}

#active-filters .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#active-filters nav.row {
    display: inline-block;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    margin-left: 10px;
    display: inline-block;
    font-size: small;
}

.product-list-section {
    position: fixed;
    top: 100px;
    width: 200px;
    margin-top: 20px;
}

.product-list-section h4 {
    font-size: xx-large;
    color: #644970;
}

.product-list-section a {
    color: #644970;
    font-size: small;
}


#search input {
    border: none;
    border-bottom: 1px solid #644970;
    outline: none;
    border-radius: 0;
}

#search input::placeholder {
    color: #644970b1;
}

.product-name {
    color: #644970;
    font-size: 1.3rem;
}

.product-section h6 {
    color: #644970;
    margin-top: 30px;
}

.product-section p {
    margin-top: 10px;
    margin-bottom: 10px;
}

.product-section .row {
    padding: 0 !important;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.contact-text-product {
    color: #077386;
    text-decoration: none;
    margin-bottom: 20px;
    font-size: larger;
}

.contact-text-product i {
    color: #077386;
    font-size: x-large;
    padding-left: 5px;
    padding-right: 5px;
}

.contact-text-product a {
    text-decoration: none;
}

.product-separator {
    color: #64497086;
}

.add-to-favorites-btn {
    background-color: #ffff;
    border: none;
    padding-top: 5px;
    color: #eb37525c;
    font-size: small;
    transition: color 0.3s ease;
}

.add-to-favorites-btn:hover {
    color: #EB3752;
}

.filter-section input[type="checkbox"] {
    margin-right: 5px;
}

.filter-section {
    margin-bottom: 20px;
}

#apply-button,
#clear-all-button {
    text-decoration: none;
    background-color: #ffff;
    border: none;
    color: #497055;
    font-size: small;
    font-weight: 600;
}

#apply-button {
    color: #026716;
}

#clear-all-button {
    color: darkred;
}

.remove-filter {
    text-decoration: none;
    background-color: #ffff;
    border: none;
    color: darkred;
    font-size: small;
    font-weight: 600;
}

.filter-section p {
    margin-top: 5px;
    margin-bottom: 5px;
    color: #644970;
}

button#save-product-description {
    background-color: transparent;
    color: #339933;
    margin-top: 10px;
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    border: #339933 solid 2px;
}

button#save-product-description:hover {
    color: #ffff;
    background-color: #339933;
}

button#delete-product:hover {
    color: #ffff;
    background-color: #993333;
}

button#delete-product {
    background-color: transparent;
    border: none;
    color: #993333;
    margin-top: 10px;
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    border: #993333 solid 2px;
    margin-bottom: 10px;
}

#product-new-description {
    width: 100%;
}

button.add-product-button {
    margin-bottom: 15px;
    background-color: #644970;
    border-color: #644970;
    color: #ffff;
    border-radius: 5px;
    font-weight: 600;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border: #644970 solid 2px;
}

button.add-product-button:hover {
    background-color: #ffff;
    color: #644970;
    border: #644970 solid 2px;
}

#add-product-section {
    text-align: right;
}

#modal-ailments-list label {
    color: #000000;
    font-size: small;
}

.label-add-product-modal {
    color: #000000;
    font-size: medium;
    color: #644970;
    margin-bottom: 5px;
}

#add-product-modal-buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: -18px;
}

#add-product-modal-buttons button {
    width: 40%;
}

#save-product-button {
    color: #ffff;
    background-color: #339933;
    border: #339933 solid 2px;
}

#save-product-button:hover {
    color: #339933;
    background-color: #ffff;
    border: #339933 solid 2px;
}

#clear-product-form {
    color: #ffff;
    background-color: #993333;
    border: #993333 solid 2px;
}

#clear-product-form:hover {
    color: #993333;
    background-color: #ffff;
    border: #993333 solid 2px;
}

.ailments-container {
    max-height: 80px;
    overflow-y: auto;
}

#register-recommended-login {
    display: flex;
    align-content: flex-start;
    flex-direction: column;
    justify-content: space-evenly;
}

#register-recommended-login p {
    margin-bottom: 20px;
}

#button-recommended-login {
    margin-bottom: 40px;
}

.miss-recommended {
    color: #644970;
    font-weight: 600;
}

#text-pending-approval {
    padding: 40px;
}

label#ailment-filter-name {
    font-size: smaller;
}

/* Contact */

#contact-image {
    width: 60vw;
    margin-left: calc(-50vw + 50%);
    margin-top: 30px;
}

/* Login Modal */
#loginModal {
    background-color: #64497035;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.modal-header h5 {
    text-align: center;
    color: #ffff;
    font-weight: bold;
    margin-bottom: 0px;
}

.modal-body {
    font-size: large;
    color: #000000;
    padding-bottom: 40px;
    padding-top: 40px;
    padding-left: 25px;
    padding-right: 25px;
    color: #ffff;
}

.modal-header {
    background-color: #644970;
    font-weight: bold;
}

.modal-footer {
    background-image: url('../images/modal-background-2-header.jpg');
    background-size: cover;
    color: #000000;
    display: flex;
    justify-content: space-between;
}

#login-button {
    background-color: #077386;
    width: 40%;
    font-size: large;
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;
}

#login-button:hover {
    background-color: #ffff;
    color: #077386;
}

#register-button-modal {
    background-color: #644970;
    width: 40%;
    font-size: large;
    margin-left: 10px;
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;
}

#register-button-modal:hover {
    background-color: #ffff;
    color: #644970;
}


label#label-password {
    margin-top: 8px;
}

#remember-me {
    color: #000000;
    margin-top: 10px;
}

#forgot-password {
    color: #000000;
    margin-top: 10px;
    display: block;
    text-align: center;
}

.button-area {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

#login-error-message {
    padding: 10px;
    margin-bottom: -30px;
    color: #EB3752;
    text-align: center;
    font-size: medium;
}

.label-login-modal {
    color: #000000;
    margin-top: 10px;
}

/* Register page */

#register-form {
    margin-bottom: 80px;
}

#why-register img {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 30%;
}

#why-register h5 {
    margin-top: 15px;
    margin-bottom: 15px;
    color: #644970;
    font-weight: bold;
}

#why-register h6 {
    margin-top: 15px;
    margin-bottom: 15px;
    color: #644970;
    font-weight: bold;
    text-decoration: underline;
}

#why-register a {
    margin-top: 5px;
    color: #644970;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}

#why-register i {
    color: #644970;

}

.tool-access-register {
    margin-bottom: 20px;
}

.tool-access-register {
    margin-bottom: 5px;
}

#register-section {
    margin-top: 30px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
}

#register-section input {
    margin-bottom: 20px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: solid 1px #077386;
}

#register-section button {
    background-color: #077386;
    border: #077386 solid 2px;
    color: #ffff;
    margin-top: 10px;
    width: 50%;
    padding: 5px;
    border-radius: 5px;
}

#register-section button:hover {
    color: #077386;
    background-color: #ffff;
}

#register-section label[for="first-name"] {
    margin-top: 40px;
}

#why-register {
    padding-left: 20px;
    padding-right: 20px;
}

/* Password reset page */

.container.recover-header {
    margin-top: 40px;
    margin-bottom: 20px;
}

.container.recover-body {
    margin-bottom: 40px;
}

button.reset-password-button {
    background-color: #077386;
    border: #077386 solid 2px;
    color: #ffff;
    margin-top: 30px;
    margin-bottom: 20px;
    width: 251px;
    padding: 5px;
    border-radius: 5px;
}

button.reset-password-button:hover {
    color: #077386;
    background-color: #ffff;
}

.contact-us-link {
    color: #077386;
    text-decoration: none;
    font-weight: 600;
}

/*Password reset/change*/

#allauth-reset-password p {
    margin-top: 10px;
}

#allauth-reset-password h1 {
    color: #644970;
    font-size: xx-large;
    margin-top: 40px;
}

#submit-reset button {
    background-color: #077386;
    border: #077386 solid 2px;
    color: #ffff;
    margin-top: 30px;
    margin-bottom: 20px;
    width: 251px;
    padding: 5px;
    border-radius: 5px;
}

#submit-reset button:hover {
    color: #077386;
    background-color: #ffff;
}

#contact-us-reset {
    color: #077386;
}

#contact-us-reset a {
    text-decoration: none;
}

#allauth-reset-password input {
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: solid 1px #077386;
}

#allauth-reset-password label {
    margin-left: 10px;
    margin-bottom: 10px;
}

/*Success registration page */

#registration-succcess {
    margin-top: 40px;
}

#registration-succcess img {
    margin-bottom: 40px;
}

#registration-succcess h4 {
    margin-bottom: 40px;
    color: #644970;
    font-weight: 600;
}

#registration-succcess h5 {
    margin-bottom: 40px;
    color: #644970;
}

/* Toasts profile */

.toast {
    background-color: #ffff;
    border: 2px solid #644970;
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 5px;
}

.toast-header {
    display: flex;
    align-items: center;
    background-color: #ffff;
    border-bottom: 1px solid #644970;
    padding: 5px;
}

.toast-body {
    padding: 10px;
}

.close {
    padding: 2px;
    margin-left: 10px;
    text-align: left;
    cursor: pointer;
    border: none;
    background-color: transparent;
    font-size: x-large;
}


/* Screen size optimization */
@media (max-width: 992px) {
    #promotions-container {
        padding-top: 5%;
    }

}


/* Screen size optimization */
@media (max-width: 767px) {

    #data-protection p,
    #social-media-footer p {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    #about-me-text {
        margin-right: 20px;
        margin-left: 20px;
        margin-bottom: 60px;
    }

    .menu-title,
    .login-title,
    .social-section {
        display: none;
    }

    #toggle-ailment-list {
        text-align: center;
    }

    .navbar-brand {
        width: 100%;
        text-align: center;
    }

    #login-area {
        flex-direction: row-reverse;
    }

    div#navbarNav {
        text-align: right;
    }

    .nav-link {
        font-size: larger;
    }

    .change-link {
        margin-bottom: 10px;
        display: flex;
    }

    #join-text {
        display: none;
    }

    .footer {
        font-size: x-large;
    }

    #social-media-footer i {
        margin-right: 6px;
        font-size: x-large;
    }

    #social-media-footer {
        margin-left: -12px;
    }

    .product-list-section {
        position: static;
        margin-top: 0;
        width: auto;
        top: auto;
    }

    .contact-text-product {
        margin-bottom: 20px;
        text-align: center;
    }

    #promo-social .fa-brands {
        font-size: x-large;
    }
}