@import url('https://fonts.googleapis.com/css2?family=Bitter&family=Crimson+Text:wght@600&family=EB+Garamond&family=Lato:wght@300&family=Oswald&display=swap');

body {
    font-family: 'Libre Bodoni', sans-serif;
}

#nav-button {
    border: none;
    font-size: 1.5rem;
}
.navbar {
    margin-bottom: 10px;
}

.footer {
    background-color: #EB3752;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 10px 0;
}

#data-protection p, #social-media p {
    margin: 0;
    color: #ffff;
}

#social-media a {
    margin-right: 10px;
    text-decoration: none;
}

#social-media, .fa-brands {
    color: #ffff;
}

p {
    margin-bottom: 0;
}