{% extends 'base.html' %}
{% load static %}
{% block content %}

<!--Error image-->
<div class="container-fluid p-0 text-center">
    <img id="img-403" src="{% static 'images/403.webp' %}" alt="403 error logo image" class="img-fluid">
</div>

<!--Error text-->
<div id="text-403" class="container col-12 text-center">
    <div class="row">
        <h5>It seems you don`t have access to this page. Please use the menu to navigate to your desired page or click
            on the website logo to return to Homepage.</h5>
    </div>
</div>

{% endblock %}