{% extends 'base.html' %}
{% load static %}
{% block content %}

<!--Error image-->
<div class="container-fluid p-0 text-center">
    <img id="img-404" src="{% static 'images/404.webp' %}" alt="404 error logo image" class="img-fluid" width="100%;">
</div>

<!--Error text-->
<div id="text-404" class="container col-12 text-center">
    <div class="row">
        <h5>Oopps...seems like something went wrong. Please use the menu to navigate to your desired page or click on
            the website logo to return to Homepage.
        </h5>
    </div>
</div>


{% endblock %}