{% include 'base.html' %}


<div id="about-me-text" class="container">
    <div class="row">
        <div class="col-12 col-md-6 text-left">
            <h5>Who am I?</h5>
            <h5>I am a mother!</h5>
            <h5>I am a wife!</h5>
            <h5>I enjoy my work!</h5>
            <h5>I live healthy and enjoy my life!</h5>
        </div>
        <div class="col-12 col-md-6 text-left">
            <img id="about-me" src="../static/images/about-me.png" alt="multiple photos of the author in a collage"
                class="img-fluid">
        </div>
    </div>
</div>


    {% block content %}
    {% endblock %}