{% extends 'base.html' %}
{% block content %}

<!--Header image-->
<div>
    <img src="../static/images/about-image.webp" alt="field with lavender" id="about-oils-img">
</div>

<!--Each of the 3 sections bellow is represented by a representative icon, a title and a description with the source of text-->
<div id="about-container" class="container mt-6">
    <div class="row">
        <div class="col-md-6 mb-4">
            <div id="where-card" class="card">
                <div class="card-body text-center">
                    <h5>Where do essential oils come from?</h5>
                    <span class="about-icons"><i class="fa-solid fa-leaf"></i></span>
                    <p>A variety of plants cover the Earth in different shapes, sizes, colors, and scents. Many of these
                        plants contain compounds that typically can’t be seen with the naked eye—they hide within the
                        roots, flowers, seeds, bark, or other areas of the plant. These compounds are known as essential
                        oils. They are highly concentrated, making them extremely potent. Also referred to as volatile
                        aromatic compounds, essential oils give a plant its aroma, protect it from harsh environmental
                        conditions and insects, and even play a part in plant pollination.</p>
                    <br>
                    <span class="about-quote">Source https://wave0.doterra.com/</span>
                </div>
            </div>
        </div>

        <div class="col-md-6 mb-4">
            <div id="how-card" class="card">
                <div class="card-body text-center">
                    <h5>How are essential oils made?</h5>
                    <span class="about-icons"><i class="fa-solid fa-gear"></i></span>
                    <p>It is important to note that not all essential oils are created equal. The purity of an oil can
                        change depending on geographic location, distillation methods, weather, and other factors.
                        Additionally, no matter how well a plant is selected, cared for, and harvested, the quality of
                        an essential oil can either be preserved or destroyed during the distillation process. Because
                        of the attention to detail and precision necessary in distillation, it becomes less of a process
                        and more of an art form. Distillers must be precise and pay careful attention to harvesting
                        methods, temperatures, time of distillation, the amount of pressure used, etc.</p>
                    <br>
                    <span class="about-quote">Source https://wave0.doterra.com/</span>
                </div>
            </div>
        </div>

        <div class="col-md-6 mb-4">
            <div id="use-card" class="card">
                <div class="card-body text-center">
                    <h5>How do you use essential oils?</h5>
                    <span class="about-icons"><i class="fa-solid fa-droplet"></i></span>
                    <p>Now that you know what an essential oil is and where essential oils come from, it is time to
                        learn
                        how to use them. You don’t need to be an expert to enjoy the wide array of benefits that
                        essential
                        oils hold. All you need is a basic understanding of how to safely and simply use essential oils
                        during your daily routine. If you’re ready to learn more, I can teach you!</p>
                    <br>
                    <span class="about-quote">Source https://wave0.doterra.com/</span>
                </div>
            </div>
        </div>

        <!--Contact details section-->
        <div class="col-md-6 mb-4">
            <div id="contact-card" class="card">
                <div class="card-body text-center">
                    <h5>Can I help you with more information?</h5>
                    <div class="text-left">
                        <h6 class="d-inline">Find me on social:</h6>
                        <a href="https://wa.me/+353876403084" target="_blank">
                            <i class="fa-brands fa-whatsapp"></i>
                            <span class="sr-only">WhatsApp</span>
                        </a>
                        <a href="https://www.facebook.com/gherasim.cosmina" target="_blank">
                            <i class="fa-brands fa-facebook-messenger"></i>
                            <span class="sr-only">Facebook</span>
                        </a>
                        <a href="https://www.facebook.com/gherasim.cosmina" target="_blank" class="d-inline">
                            <i class="fa-brands fa-facebook"></i>
                            <span class="sr-only">Facebook messenger</span>
                        </a>
                        <a href="https://tinyurl.com/yc2knt2p" target="_blank" class="d-inline">
                            <i class="fa-brands fa-instagram"></i>
                            <span class="sr-only">Instagram</span>
                        </a>
                    </div>
                    <h6 id="about-other-contact" class="text-left">
                        <span>Contact form: <a href="https://beta-doterra.myvoffice.com/cosminatopircean/#/contactUs"
                                target="_blank">click here...</a> </span><br>
                    </h6>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}