{% include 'base.html' %}

<div class="container-fluid p-0">
    <img src="../static/images/about-image.jpg" alt="field with lavender" class="img-fluid" width="100%;">
</div>


<div class="container mt-4">
    <div class="row">
        
        <div class="col-md-3 col-sm-12 mb-4">
            <div id="where-card" class="card">
                <div class="card-body text-center">
                    <h5>Where do essential oils come from?</h5>
                </div>
            </div>
        </div>
        
        <div class="col-md-3 col-sm-12 mb-4">
            <div id="how-card" class="card">
                <div class="card-body">
                    <h5>How are essential oils made?</h5>
                </div>
            </div>
        </div>
        
        <div id="use-card" class="col-md-3 col-sm-12 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5>How do you use essential oils?</h5>
                </div>
            </div>
        </div>
        
        <div  id="contact-card" class="col-md-3 col-sm-12 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5>Can I help you with more information?</h5>
                </div>
            </div>
        </div>
    </div>
</div>

{% block content %}
{% endblock %}