{% include 'base.html' %}
<div class="container-fluid p-0" id="about-me-img">
    <img id="about-me" src="../static/images/about-me.jpg" alt="flowers in a hand" class="img-fluid" width="100%">
</div>
<div class="container">


    <div id="about-me-text">
        <div class="row">
            <div class="col-12 text-left">
                <h5>Who am I?</h5>
                <p>I am Cosmina Livia, I am a wife, a mother, a project manager with legal background, a wellness
                    advocate. I love nature and plants, I love travelling, spending quality time with my family, I am
                    interested sustaining a healthy, balanced lifestyle, interested in personal development and
                    education nowadays.
                    My incursion in the natural aromatic field started since I was a little girl, going out in the field
                    to pick up wildflowers and plants with my mother and grandmother, in order to make perfumes out of
                    them, macerates or teas. In November 2017 I started using the doTerra essential oils, and I’ve never
                    stopped since. During this time, I studied the essential oils and their use, I enjoyed experiencing
                    their benefits and perfumes. I participated in numerous seminars, sessions and courses in America
                    and Europe regarding holistic health and use of plants and essential oils.
                    I believe that through these experiences and learning about natural world and natural solutions, I
                    bring value and wellness to myself, to my daughters, my family, and to people around me. For this I
                    am grateful and happy!
                </p>
                <hr>
                <h5>I am a devoted mother</h5>
                <img src="../static/images/mother.png" alt="schetch of a mother with a child"
                    class="img-fluid mx-auto d-block">
                <p>...to my daughters whom I guide and encourage with boundless love, patience and commitment for their
                    well-being and development. I strive to provide them and the whole family a nurturing welcoming
                    environment of trust where we can all thrive emotionally and mentally. I try to educate and grow
                    myself
                    into a better person each day as I am conscious that I lead by example, I teach my children through
                    my
                    own example. My goal is to leave as legacy to my children, a character with which they can live a
                    fulfilled, dignified life, with a mindset of growth and development, resilience, a taste for natural
                    life, love for nature, devotion to this Earth and God the creator of this Earth.</p>
                <h5>I am a wife</h5>
                <img src="../static/images/wife.png" alt="cartoon of a wife and husband"
                    class="img-fluid mx-auto d-block">
                <p>...of my loving husband and we love travelling together, trying new things, and experiences, spending
                    quality time. We love supporting each other’s passions, and my husband’s passion for programming
                    reflects in this beautiful website which supports my passion for essential oils and natural
                    solutions,
                    and my willing to help others.</p>
                <h5>I am a project manager</h5>
                <img src="../static/images/career.png" alt="woman working in an office"
                    class="img-fluid mx-auto d-block">
                <p> ...with a background in legal study and work, and as a skilled project manager, I
                    thrive in organizing and executing tasks efficiently, managing my time productively and efficiently,
                    helping my team reach our goals, milestones and targets.</p>
                <h5>I live healthy and enjoy my life!</h5>
                <img src="../static/images/excercise.png" alt="woman working in an office"
                    class="img-fluid mx-auto d-block">
                <p>I am a committed wellness advocate, with a fervent dedication to promoting natural solutions, willing
                    to
                    impact people’s lives by promoting and facilitating holistic well-being. I am advocating by sharing
                    my
                    knowledge about natural solutions and the benefits of wellness practices, and acknowledging the
                    importance of a balanced lifestyle, nature, nutrition, and selfcare.
                    I strive to empower others to use natural solutions in their families, to create better habits, for
                    their wellbeing, to use more often the certified pure tested grade doTerra essentials oils.
                    In our doTerra family we strive to organize workshops and events to discuss wellness topics, to
                    foster a
                    sense of community among like-minded individuals to create a supportive, informative and
                    collaborative
                    network where we can build a positive and encouraging environment, introduce high-quality natural,
                    pure
                    wellness products and services, high-quality sources of information.
                    My overarching objective is to maintain a harmonious life, expressing gratitude for each experience
                    that
                    comes in life, while actively working to encourage, motivate and empower individuals to take control
                    of
                    their lives for increased happiness, wellness, and prosperity.
                </p>
            </div>
        </div>
    </div>
</div>

{% block content %}
{% endblock %}