{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Essentials by Livia</title>
</head>

<!--Template combining navigation bar, footer and always on elements-->
<body>
    {% include 'navbar.html' %}
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>

    <!--Always on whatsapp icon present on all pages-->
    <div class="whatsapp-icon">
        <a href="https://wa.me/+353876403084" target="_blank">
            <i class="fa-brands fa-whatsapp fa-sm" style="color: #25d366;"></i>
            <span class="sr-only">WhatsApp</span>
        </a>
    </div>

    <div id="footer-content-container">
        {% include 'footer.html' %}
    </div>

    <!--Imports jquery and local js static-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../static/js/script.js"></script>
    {% block scripts %}
    {% endblock %}
</body>


</html>