{% include 'base.html' %}

<!--Image representative of contact area-->
<div class="container-fluid p-0 d-flex justify-content-center align-items-center">
    <img id="contact-image" src="../static/images/contact-image.webp" alt="dice with contact methods printed on them" class="img-fluid text-center" width="50%">
</div>

<!--Contact link and details-->
<div class="container">
    <div id="contact-card" class="card">
        <div class="card-body text-center">
            <h5>Can I help you with more information?</h5>
            <div class="text-left">
                <h6 class="d-inline">Find me on social:</h6>
                <a href="https://wa.me/+353876403084" target="_blank">
                    <i class="fa-brands fa-whatsapp"></i>
                    <span class="sr-only">WhatsApp</span>
                </a>
                <a href="https://www.facebook.com/gherasim.cosmina" target="_blank">
                    <i class="fa-brands fa-facebook-messenger"></i>
                    <span class="sr-only">Facebook</span>
                </a>
                <a href="https://www.facebook.com/gherasim.cosmina" target="_blank" class="d-inline">
                    <i class="fa-brands fa-facebook"></i>
                    <span class="sr-only">Facebook Messenger</span>
                </a>
                <a href="https://tinyurl.com/yc2knt2p" target="_blank" class="d-inline">
                    <i class="fa-brands fa-instagram"></i>
                    <span class="sr-only">Instagram</span>
                </a>
            </div>
            <h6 id="about-other-contact" class="text-left">
                <span>Contact form: <a href="https://beta-doterra.myvoffice.com/cosminatopircean/#/contactUs" target="_blank">click here...</a> </span><br>
            </h6>
        </div>
    </div>
</div>

{% block content %}
{% endblock %}