<footer class="footer">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-4">
                <a id="data-protection" class="col-4" href="data-protection.html">
                    <p>GDPR</p>
                </a>
            </div>
            <div id="footer-join" class="col-4">
                <a class="col-4 text text-center" href="">
                    <p>JOIN MY TEAM!<i class="fa-solid fa-user-plus"></i></p>
                </a>
            </div>
            <div id="social-media-footer" class="col-4  text-end">
                <p class="float-lg-end"><span class="social-section">Find us on:</span>
                    <a href="https://wa.me/+353876403084" target="_blank">
                        <i class="fa-brands fa-whatsapp"></i>
                    </a>
                    <a href="https://www.facebook.com/gherasim.cosmina" target="_blank">
                        <i class="fa-brands fa-facebook-messenger"></i>
                    </a>
                    <a href="https://www.facebook.com/gherasim.cosmina" target="_blank">
                        <i class="fa-brands fa-facebook"></i>
                    </a>
                    <a href="https://tinyurl.com/yc2knt2p" target="_blank">
                        <i class="fa-brands fa-instagram"></i>
                    </a>
                </p>
            </div>
        </div>
    </div>
</footer>