<footer class="footer">
    <div class="container">
        <div class="row">
            <div id ="data-protection" class="col-6">
                <p>Data Protection</p>
            </div>
            <div id="social-media" class="col-6  text-end">
                <p class="float-lg-end">Find us on:
                    <a href="https://www.facebook.com/" target="_blank">
                        <i class="fa-brands fa-facebook"></i>
                    </a>
                    <a href="https://www.instagram.com/" target="_blank">
                        <i class="fa-brands fa-instagram"></i>
                    </a>
                </p>
            </div>
        </div>
    </div>
</footer>