<footer class="footer">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-4">
                <!--GDPR link-->
                <a id="data-protection" class="col-4" href="{% url 'data_protection' %}">
                    <p>GDPR</p>
                </a>
            </div>
            <!--Area linked to contact details-->
            <div id="footer-join" class="col-4">
                <a class="col-4 text text-center" href="{% url 'contact' %}">
                    <p><span id="join-text">JOIN US!</span><i class="fa-solid fa-user-plus"></i></p>
                </a>
            </div>

            <!--Social media links-->
            <div id="social-media-footer" class="col-4  text-end">
                <p class="float-lg-end"><span class="social-section">Find us on:</span>
                    <a href="https://wa.me/+353876403084" target="_blank">
                        <i class="fa-brands fa-whatsapp"></i>
                        <span class="sr-only">WhatsApp</span>
                    </a>
                    <a href="https://www.facebook.com/gherasim.cosmina" target="_blank">
                        <i class="fa-brands fa-facebook-messenger"></i>
                        <span class="sr-only">Facebook Messenger</span>
                    </a>
                    <a href="https://www.facebook.com/gherasim.cosmina" target="_blank">
                        <i class="fa-brands fa-facebook"></i>
                        <span class="sr-only">Facebook</span>
                    </a>
                    <a href="https://tinyurl.com/yc2knt2p" target="_blank">
                        <i class="fa-brands fa-instagram"></i>
                        <span class="sr-only">Instagram</span>
                    </a>
                </p>
            </div>
        </div>
    </div>
</footer>