<body>
    {% include 'base.html' %}
    <div class="container">



        <div id="recommendation-what" class="container custom-container">
            <div class="row">
                <div id="about-section" class="col-12 col-md-6">
                    <img src="../static/images/about-oils.png" alt="multitude of essential oil bottles"
                        class="img-fluid">
                    <button id="button-about" class="btn btn-primary">Learn
                        more....</button>
                </div>
                <div class="col-12 col-md-6">
                    <div>
                        <img src="../static/images/oil-selection.png" alt="multitude of essential oil bottles"
                            class="img-fluid">
                        <div id="learn-more">
                            <h6 class="text-center learn-more">Do you want to learn more about which Essential oil is
                                the
                                right one for
                                you?</h6>
                        </div>
                        <div id="find-more-tool text-center">
                            <button id="button-tool" class="btn btn-primary"><i class="fa-solid fa-droplet"></i> <i
                                    class="fa-solid fa-droplet">
                                </i> <i class="fa-solid fa-droplet"> </i> Use our tool.... <i
                                    class="fa-solid fa-computer-mouse"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="quote-section" class="col-12 text-center container custom-container">
            <hr>
            <br>
            <h6>“When you look past yourself and focus on serving others, then your life will change. Taking the time to
                individually coach others had the single biggest impact on my doTERRA® business. You have to know your
                leaders so you know how to inspire them.”<h6>
                <br>
                <h5><span class="quote-author">Natalie Goddard, Double Diamond</span></h5>
                <br>
            <hr>
        </div>

        <div id="join-promo" class="container custom-container">
            <div class="row">
                <div class="col-12 col-md-6 text-center">
                    <img id="join-team-image" src="../static/images/join-team.png"
                        alt="image with hands around a heard showing team spirit" class="img-fluid">
                    <h3 id="join-team-text">Join My Team!</h3>
                    <h4>Become a Dottera representative and enjoy great benefits!</h4>
                    <br>
                    <h6>We have a great team, extremly helpfull and welcoming!
                        <br>
                        <br>
                        There are some great benefits by joining our team, like free products or the opportunity to turn
                        your passion for a healthy lifestyle into an actual source of income.
                    </h6>
                    <button id="btn-join" class="btn btn-primary">I want to join the team!</button>
                </div>
                <div class="col-12 col-md-6">
                    <div class="image-container">
                        <img src="../static/images/promotion.png" alt="essential oil bottle with discount logo"
                            class="img-fluid">
                        <button id="button-promo" class="btn btn-primary">Learn more....</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% block content %}
    {% endblock %}