<div class="modal-header">
    <h5>Please provide your login details:</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close X Symbol"></button>
</div>

<div class="modal-body">
    <label for="email" class="form-label">Email: </label>
    <input type="email" class="form-control" id="email" placeholder="Please provide your email address">
    <label for="password" class="form-label">Password: </label>
    <input type="password" class="form-control" id="password" placeholder="Please provide your password">
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-primary">Login</button>
    <h6>Don`t have an account yet?</h6>
    <button type="button" class="btn btn-secondary">Register</button>
</div>