<div class="modal-content">
    <!--Modal header section with title and close button-->
    <div class="modal-header">
        <div>
            <h5>Login or Register</h5>
        </div>
        <div id="modal-close">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close X Symbol"></button>
        </div>
    </div>

    <!--Modal body containing the input form collecting user data, action buttons and link to password recovery form-->
    <div class="modal-body">
        <form id="allauth-login-form" method="post" action="{% url 'account_login' %}">
            {% csrf_token %}
            <label for="id_username" class="label-login-modal">Username:</label>
            <input type="text" class="form-control" id="id_username" name="login"
                placeholder="Please provide your username" required>
            <label for="id_password" class="label-login-modal">Password:</label>
            <input type="password" class="form-control" id="id_password" name="password"
                placeholder="Please provide your password" required>
            <div class="button-area">
                <!--Button submitting the form and link to register.html page-->
                <button type="submit" class="btn btn-primary" id="login-button">Login</button>
                <a id="register-button-modal" href="register.html" class="btn btn-secondary">Register</a>
            </div>
            <div class="password-change-forgot">
                <!--Link to allauth password recovery form -->
                <a href="{% url 'account_reset_password' %}" class="forgot-link">Forgot Password</a>
            </div>
        </form>
    </div>


</div>