<div class="modal-content">
    <div class="modal-header">
        <div>
            <h5>Login or Register</h5>
        </div>
        <div id="modal-close">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close X Symbol"></button>
        </div>
    </div>

    <div class="modal-body">
        <form id="allauth-login-form" method="post" action="{% url 'account_login' %}">
            {% csrf_token %}
            <label for="id_username">Username:</label>
            <input type="text" class="form-control" id="id_username" name="login"
                placeholder="Please provide your username" required>
            <label for="id_password">Password:</label>
            <input type="password" class="form-control" id="id_password" name="password"
                placeholder="Please provide your password" required>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="remember-me" name="remember">
                <label class="form-check-label" for="remember-me" id="remember-me">
                    Remember Me
                </label>
            </div>
            <div class="button-area">
            <button type="submit" class="btn btn-primary" id="login-button">Login</button>
            <a id="register-button-modal" href="register.html" class="btn btn-secondary">Register</a>
            </div>
            <div>
                <a href="password-reset.html" id="forgot-password" data-bs-toggle="modal" data-bs-target="#resetPasswordModal">Forgot Password?</a>
            </div>
        </form>
    </div>


</div>