<nav class="navbar navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand mx-auto" href="index.html">
            <img src="../static/images/logo-5.png" alt="Logo" height="80">
        </a>
        <a class="login-link" href="user-account.html">
            <div id="login-area" class="d-flex justify-content-end align-items-center flex-grow-1 "
                style="margin-right: 30px;">
                <span class="login-title">Login/Account</span>
                <i class="fa-solid fa-user" style="margin-left: 10px;"></i>
        </a>
    </div>
    <button id="nav-button" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="menu-title">Menu </span>
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
            <li class="nav-item">
                <a class="nav-link" href="about-me.html">About Me</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="about-oils.html">What are Essential Oils</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">What is the best Essential Oil for me</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="promotions.html">Promotions</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Contact</a>
            </li>
        </ul>
    </div>
    </div>
</nav>