<nav class="navbar navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand mx-auto" href="{% url 'index' %}">
            <img src="../static/images/logo-5.png" alt="Logo" height="80">
        </a>
        <div id="login-area" class="d-flex justify-content-end align-items-center flex-grow-1"
            style="margin-right: 30px;">
            {% if user.is_authenticated %}
            <div id="dropdown-logged-in" class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="profileDropdown"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    {% if user.first_name %}
                    {{ user.first_name }}
                    {% else %}
                    {{ user.username }}
                    {% endif %}
                    <i class="fa-solid fa-user" style="margin-left: 10px;"></i>
                </button>
                <ul class="dropdown-menu" aria-labelledby="profileDropdown">
                    <li><a class="dropdown-item" href="profile.html">Profile</a></li>
                    <li><a class="dropdown-item" href="{% url 'account_logout' %}">Logout</a></li>
                </ul>
            </div>
            {% else %}
            <div id="dropdown-logged-out" class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="loginDropdown"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fa-solid fa-user" style="margin-left: 10px;"></i>
                </button>
                <ul class="dropdown-menu" aria-labelledby="loginDropdown">
                    <li><a class="dropdown-item" href="{% url 'modal_login' %}" data-bs-toggle="modal"
                            data-bs-target="#loginModal">Login</a></li>
                    <li><a class="dropdown-item" href="{% url 'register' %}">Register</a></li>
                </ul>
            </div>
            {% endif %}
        </div>
        <button id="nav-button" class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="menu-title">Menu </span>
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'about_me' %}">About Me</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'about_oils' %}">What are Essential Oils</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'recommended' %}">What is the best Essential Oil for me</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'promotions' %}">Promotions</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'contact' %}">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="modal" id="loginModal" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div>
            <div>
                {% include 'modal-login.html' %}
            </div>
        </div>
    </div>
</div>