{% include 'base.html' %}
{% block content %}
<div class="container recover-header">
    <h4>
        Password Reset
    </h4>
    <p>
        Forgotten your password? Enter your email address below, and we'll send you an email allowing you to reset it.
    </p>
</div>

<div class="container recover-body">
    <form method="post" action="{% url 'account_reset_password' %}">
        {% csrf_token %}
        <input type="hidden"
            value="Xb0tFPBDCRjn1yQ0Ji6G3GLYSjUiM7I5VoJAoEdTFh8poISkkgUtnNg7ztA7EYMt">
        <p><label for="id_email">Email:</label> <input type="email" name="email" placeholder="Email address"
                autocomplete="email" maxlength="320" required="" id="id_email" fdprocessedid="cxb8z"></p>
        <button type="submit" fdprocessedid="0ozugs" class="reset-password-button">
            Reset My Password
        </button>
    </form>
    <p>Please <a href="contact.html" class="contact-us-link">contact us</a> if you have any trouble resetting your password.</p>
</div>
{% endblock %}