{% extends 'base.html' %}
{% block content %}

{% if messages %}
{% for message in messages %}
{% if forloop.first %}
<div id="toastTrigger" style="display: none;" data-message="{{ message }}"></div>
{% endif %}
{% endfor %}
{% endif %}

<div aria-live="polite" aria-atomic="true" style="position: relative;">
    <div>
        <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" id="profileActionToast">
            <div class="toast-header">
                <strong class="mr-auto">Notification</strong>
                <button type="button" class="close" data-bs-dismiss="toast" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="toast-body">

            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="container-fluid">
        <div class="row account-section">
            <!--This is the user details area which displays only if user is authenticated-->
            {% if user.is_authenticated %}
            <div class="col-12">
                <div class="text-center">
                    <h5 class="toggle-details"> ACCOUNT DETAILS: <span class="toggle-icon">&#8645;</span></h5>
                </div>
                <form id="edit-profile-form" method="post" action="{% url 'edit_profile' %}">
                    {% csrf_token %}

                    <div id="user-details" class="container">
                        <div class="row">
                            <!--User can access the change password standard allauth form-->
                            <div class="password-change-forgot">
                                <a href="{% url 'account_change_password' %}" class="change-link"><i
                                        class="fa-solid fa-key"></i> Click here to change
                                    your password</a>
                            </div>
                        </div>
                        <div class="row">
                            <!--Displays user details in pre-populated format-->
                            <div class="col-6 text-left">
                                <h6 class="form-labels"> First name:</h6>
                            </div>
                            <div class="col-6  user-contact-input">
                                <input type="text" name="first_name" value="{{ user_data.first_name }}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 text-left">
                                <h6 class="form-labels"> Last name:</h6>
                            </div>
                            <div class="col-6 user-contact-input">
                                <input type="text" name="last_name" value="{{ user_data.last_name }}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 text-left">
                                <h6 class="form-labels"> Email:</h6>
                            </div>
                            <div class="col-6 user-contact-input">
                                <input type="email" name="email" value="{{ user_data.email }}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 text-left">
                                <h6 class="form-labels"> Phone:</h6>
                            </div>
                            <div class="col-6 user-contact-input">
                                <input type="tel" name="phone_number" value="{{ user_data.phone_number }}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 text-left">
                                <h6 class="form-labels"> Join Team:</h6>
                            </div>
                            <div class="col-6 user-contact-input  text-center">
                                <label><input type="radio" name="join_team" value="yes" {% if user_data.join_team %}
                                        checked {% endif %}> Yes</label>
                                <label><input type="radio" name="join_team" value="no" {% if not user_data.join_team %}
                                        checked {% endif %}> No</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 text-left">
                                <h6 class="form-labels"> Contact me: </h6>
                            </div>
                            <div class="col-6  user-contact-input text-center">
                                <div class="col-6 user-contact-input">
                                    <label><input type="radio" name="i_want_to_know_more_about_the_products" value="yes"
                                            {% if user_data.i_want_to_know_more_about_the_products %} checked
                                            {% endif %}>
                                        Yes</label>
                                    <label><input type="radio" name="i_want_to_know_more_about_the_products" value="no"
                                            {% if not user_data.i_want_to_know_more_about_the_products %} checked
                                            {% endif %}> No</label>
                                </div>
                            </div>
                        </div>
                        <!--form dedicated to changing or deleting a user account. Buttons hold onclick alerts to validate users decission.-->
                        <div id="account-actions" class="text-center" id="profile-button-container">
                            <form id="edit-profile-form" method="post" action="{% url 'edit_profile' %}">
                                {% csrf_token %}
                                <button id="save-profile" type="submit"
                                    onclick="return confirm('Are you sure you want to update your account?')">Save
                                    Changes</button>
                            </form>
                            <form id="delete-account-form" method="post" action="{% url 'delete_account' %}">
                                {% csrf_token %}
                                <button id="delete-account" type="submit"
                                    onclick="return confirm('Are you sure you want to delete your account?')">Delete
                                    Account</button>
                            </form>
                        </div>
                    </div>
                </form>

            </div>
        </div>
        {% endif %}
    </div>

    <div>
        <hr>
    </div>
    <!--Favorite section which displays users favorite selection-->
    <div class="text-center">
        <h5 class="fav-section"> FAVORITE PRODUCTS:</h5>
    </div>
    <div class="col-md-12" id="favorite-product-section">
        <div class="row">
            <!--Iterates and diplays user selection. Has toggle button to remove favorites. It basically pulls data based on id`s creating a complete product.Only part added manually is the contact section-->
            {% for favorite in user_favorites %}
            <div class="col-md-3 favourite-product">
                <div class="container">
                    <img id="favourite-img" src="{{ favorite.product.image_url }}" alt="{{ favorite.product.name }}"
                        class="img-fluid" style="display: block;">
                    <div id="favorite-details-area">
                        <span class="product-name">{{ favorite.product.name }}</span>
                        <form action="{% url 'favourite_selection' favorite.product.id %}?source=logged_user_details"
                            method="post">
                            {% csrf_token %}
                            <button id="favorite-btn" type="submit" class="add-to-favorites-btn">
                                {% if product.id in user_favorites %}
                                <i class="fas fa-heart" id="remove-favourites"></i> Remove from Favorites
                                {% else %}
                                <i class="fas fa-heart" id="remove-favourites"></i> Remove from Favorites
                                {% endif %}
                            </button>
                        </form>
                        <h6 id="favorite-description-title">Description:</h6>
                        <span id="favorite-description-text"
                            class="product-description">{{ favorite.product.description| striptags }}</span>
                        <br>
                        <h6 id="favorite-ailments">Ailments:</h6>
                        <div id="favorite-ailments-area">
                            {% for ailment in favorite.product.ailments.all %}
                            {{ ailment.name }}
                            {% endfor %}
                        </div>
                        <br>

                        <p id="contact-favorite" class="contact-text-product">Contact me for details:
                            <br>
                            <a href="" target="_blank">
                                <i class="fa-brands fa-whatsapp"></i>
                            </a>
                            <a href="" target="_blank">
                                <i class="fa-brands fa-facebook-messenger"></i>
                            </a>
                            <a href="https://www.facebook.com/gherasim.cosmina" target="_blank">
                                <i class="fa-brands fa-facebook"></i>
                            </a>
                            <a href="https://tinyurl.com/yc2knt2p" target="_blank">
                                <i class="fa-brands fa-instagram"></i>
                            </a>
                            <i class=""></i>
                        </p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>


{% endblock %}