{% include 'base.html' %}

<div class="container-fluid">
    <div class="row account-section">
        {% if user.is_authenticated %}
        <div class="col-12">
            <div class="text-center">
                <h5 class="toggle-details"> ACCOUNT DETAILS: <span class="toggle-icon">&#11167;</span></h5></span></h5>
            </div>
            <form id="edit-profile-form" method="post" action="{% url 'edit_profile' %}">
                {% csrf_token %}
                <div id="user-details" class="container">
                    <div class="row">
                        <div class="col-6 text-left">
                            <h6 class="form-labels"> First name:</h6>
                        </div>
                        <div class="col-6  user-contact-input">
                            <input type="text" name="first_name" value="{{ user_data.first_name }}">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 text-left">
                            <h6 class="form-labels"> Last name:</h6>
                        </div>
                        <div class="col-6 user-contact-input">
                            <input type="text" name="last_name" value="{{ user_data.last_name }}">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 text-left">
                            <h6 class="form-labels"> Email:</h6>
                        </div>
                        <div class="col-6 user-contact-input">
                            <input type="email" name="email" value="{{ user_data.email }}">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 text-left">
                            <h6 class="form-labels"> Phone:</h6>
                        </div>
                        <div class="col-6 user-contact-input">
                            <input type="tel" name="phone_number" value="{{ user_data.phone_number }}">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 text-left">
                            <h6 class="form-labels"> Join Team:</h6>
                        </div>
                        <div class="col-6 user-contact-input  text-center">
                            <label><input type="radio" name="join_team" value="yes" {% if user_data.join_team %} checked
                                    {% endif %}> Yes</label>
                            <label><input type="radio" name="join_team" value="no" {% if not user_data.join_team %}
                                    checked {% endif %}> No</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 text-left">
                            <h6 class="form-labels"> Contact me: </h6>
                        </div>
                        <div class="col-6  user-contact-input text-center">
                            <div class="col-6 user-contact-input">
                                <label><input type="radio" name="i_want_to_know_more_about_the_products" value="yes"
                                        {% if user_data.i_want_to_know_more_about_the_products %} checked {% endif %}>
                                    Yes</label>
                                <label><input type="radio" name="i_want_to_know_more_about_the_products" value="no"
                                        {% if not user_data.i_want_to_know_more_about_the_products %} checked
                                        {% endif %}> No</label>
                            </div>
                        </div>
                    </div>
                    <div id="account-actions" class="text-center">
                        <button id="save-profile" type="submit"
                            onclick="return confirm('Are you sure you want to update your account?')">Save
                            Changes</button>
                        <form id="delete-account-form" method="post" action="{% url 'delete_account' %}">
                            {% csrf_token %}
                            <button id="delete-account" type="submit"
                                onclick="return confirm('Are you sure you want to delete your account?')">Delete
                                Account</button>
                        </form>
                    </div>
                </div>
            </form>

        </div>
    </div>
    {% endif %}
</div>

<div>
    <hr>
</div>
<div class="text-center">
    <h5 class="fav-section"> FAVOURITE PRODUCTS:</h5>
</div>
<div class="col-md-12">
    <div class="row">
        {% for favorite in user_favorites %}
        <div class="col-md-12">
            <div class="container">
                <img src="{{ favorite.product.image_url }}" alt="{{ favorite.product.name }}">
                <div>
                    <h5 class="card-title">{{ favorite.product.name }}</h5>
                    <p class="card-text">{{ favorite.product.description }}</p>
                    <p class="card-text">Ailments:</p>
                    <ul>
                        {% for ailment in favorite.product.ailments.all %}
                        <li>{{ ailment.name }}</li>
                        {% endfor %}
                    </ul>
                    <form action="{% url 'favourite_selection' favorite.product.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="add-to-favorites-btn">
                            {% if product.id in user_favorites %}
                            <i class="fas fa-heart" id="remove-favourites"></i> Remove from Favorites
                            {% else %}
                            <i class="fas fa-heart" id="remove-favourites"></i> Remove from Favorites
                            {% endif %}
                        </button>
                    </form>
                    <p class="contact-text-product">Contact me for details:
                        <br>
                        <a href="" target="_blank">
                            <i class="fa-brands fa-whatsapp"></i>
                        </a>
                        <a href="" target="_blank">
                            <i class="fa-brands fa-facebook-messenger"></i>
                        </a>
                        <a href="https://www.facebook.com/gherasim.cosmina" target="_blank">
                            <i class="fa-brands fa-facebook"></i>
                        </a>
                        <a href="https://tinyurl.com/yc2knt2p" target="_blank">
                            <i class="fa-brands fa-instagram"></i>
                        </a>
                        <i class=""></i>
                    </p>
                </div>
            </div>
        </div>


        {% endfor %}
    </div>
</div>

{% block content %}
{% endblock %}