{% include 'base.html' %}

{% block content %}
<div class="container-fluid p-0">
    <img id="promotions" src="../static/images/promotions.webp" alt="gift wrapped with red tape" class="img-fluid"
        width="100%;">
</div>

<div id="promotion-container" class="container-fluid">
    <div>
        {% if user.is_staff %}
                <div id="add-promotion-section">
                    <button type="button" class="add-promotion-button" data-bs-toggle="modal" data-bs-target="#addPromotionModal">
                        Add promotion
                    </button>
                </div>
                {% else %}
                {% endif %}
    </div>
    <div class="row">
        {%for promotion in promotions %}
        <div class="col-12 col-md-4 text-center">
            <img src="{{ promotion.image_url }}" alt="{{ promotion.name }}" width="80%">
            <div class="mt-3">
                <div class="details-dropdown text-center">
                    <span class="validity">Valid until {{ promotion.expires_on|date:"d.m.Y" }}</span>
                    <span class="ml-auto"> <button class="btn btn-link" type="button" data-bs-toggle="collapse"
                            data-bs-target="#detailsArea{{ forloop.counter }}">Find out more <span
                                class="toggle-icon">&#11167;</span></button>
                    </span>
                    <div class="row">
                        <div class="col">
                            {% if is_admin %}
                            <form  id="update-promo-description" action="{% url 'update_description' promotion.id %}" method="post" onsubmit="return updateDescription()">
                                {% csrf_token %}
                                <textarea name="new_description">{{ promotion.description }}</textarea>
                                <button id="save-promo-change" type="submit">Save description</button>
                            </form>
                            <form id="delete-form" action="{% url 'delete_promotion' promotion.id %}" method="post">
                                {% csrf_token %}
                                <button id="delete-promo" type="submit" onclick="return confirmDelete()">Delete promotion!</button>
                            </form>
                            {% endif %}
                        </div>
                    </div>
                    <div id="detailsArea{{ forloop.counter }}" class="collapse details-container">
                        <p class="promo-text">{{ promotion.description|safe }}</p>
                        <br>
                        <p class="contact-text">Contact me for details:
                            <br>
                            <div id="promo-social">
                                <a href="https://wa.me/+353876403084" target="_blank">
                                    <i class="fa-brands fa-whatsapp"></i>
                                </a>
                                <a href="https://www.facebook.com/gherasim.cosmina" target="_blank">
                                    <i class="fa-brands fa-facebook-messenger"></i>
                                </a>
                                <a href="https://www.facebook.com/gherasim.cosmina" target="_blank">
                                    <i class="fa-brands fa-facebook"></i>
                                </a>
                                <a href="https://tinyurl.com/yc2knt2p" target="_blank">
                                    <i class="fa-brands fa-instagram"></i>
                                </a>
                            </div>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<!--Add Promotion Modal-->
<div class="modal" id="addPromotionModal" aria-labelledby="addPromotionModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div>
            <div>
                {% include 'add-promotions-modal.html' %}
            </div>
        </div>
    </div>
</div>


{% endblock %}