{% include 'base.html' %}

<!--
<div id="active-filters" class="row container-fluid">
    <nav aria-label="breadcrumb" class="d-flex">
        <h6>Your active searches:</h6>
        <ul>
            {% for filter_value in selected_filters %}
            <li>{{ filter_value }}
                <button class="remove-filter" data-filter="{{ filter_value }}"> &#x2716</button>
            </li>
            {% endfor %}
        </ul>
    </nav>
</div>
<hr>
-->

<div id="filter-product-section" class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <div id="search" class="search-bar mb-3">
                <input type="text" id="searhailment" class="form-control" placeholder="Type ailment">
            </div>
            <div>
                <div class="filter-section">
                    <p id="toggle-ailment-list">Ailment list &#11165;</p>
                    <form method="GET" action="{% url 'filter_ailments' %}" id="ailment-filter-form">
                        <div class="filter-content">
                            <div>
                                <button type="submit" id="apply-button">Apply selection &#x2714;</button>
                            </div>
                            <div>
                                <button id="clear-all-button">Clear all &#x2716;</button>
                            </div>
                            {% for ailment in ailments %}
                            <div>
                                <input type="checkbox" name="filter_checkbox" value="{{ ailment.name }}"
                                    class="filter-checkbox">
                                <label>{{ ailment.name }}</label>
                            </div>
                            {% endfor %}
                        </div>
                    </form>

                </div>
            </div>
        </div>
        <div class="col-md-10">
            <div class="product-section">
                {% for product in products %}
                <div class="row">
                    <div class="col-12 col-md-4 text-center">
                        <img src="{{ product.image.url }}" alt="{{ product.name }} image" class="img-fluid">
                    </div>
                    <div class="d-flex align-items-center col-12 col-md-8">
                        <div>
                            {% if is_admin %}
                            <form id="update-product-details" action="{% url 'update_product' product.id %}"
                                onclick="return updateProductDescription()" method="post"
                                onsubmit="return updateDescription()">
                                {% csrf_token %}
                                <textarea id="product-new-description"
                                    name="new_description">{{ product.description }}</textarea>
                                <button type="submit" id="save-product-description">Save description</button>
                            </form>
                            <form id="delete-product" action="{% url 'delete_product' product.id %}" method="post"
                                onclick="return confirmProductDelete()">
                                {% csrf_token %}
                                <button id="delete-product" type="submit" id="delete-product">Delete product!</button>
                            </form>
                            {% endif %}

                            <span class="product-name">{{ product.name }}</span>
                            <br>
                            <form action="{% url 'favourite_selection' product.id %}" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="product_id" value="{{ product.id }}">
                                <button type="submit" class="add-to-favorites-btn">
                                    {% if product.id in user_favorites %}
                                    <i class="fas fa-heart"></i> Remove from Favorites
                                    {% else %}
                                    <i class="far fa-heart"></i> Add to Favorites
                                    {% endif %}
                                </button>
                            </form>
                            <h6>Description:</h6>
                            <span class="product-description">{{ product.description | safe }}</span>
                            <br>
                            <h6>Ailments:</h6>
                            {% for ailment in product.ailments.all %}
                            {{ ailment.name }}
                            {% endfor %}
                            <p class="contact-text-product">Contact me for details:
                                <br>
                                <a href="" target="_blank">
                                    <i class="fa-brands fa-whatsapp"></i>
                                </a>
                                <a href="" target="_blank">
                                    <i class="fa-brands fa-facebook-messenger"></i>
                                </a>
                                <a href="https://www.facebook.com/gherasim.cosmina" target="_blank">
                                    <i class="fa-brands fa-facebook"></i>
                                </a>
                                <a href="https://tinyurl.com/yc2knt2p" target="_blank">
                                    <i class="fa-brands fa-instagram"></i>
                                </a>
                                <i class=""></i>
                            </p>
                        </div>
                    </div>
                    <div class="product-separator">
                        <hr>
                    </div>
                    {% endfor %}
                </div>
            </div>

        </div>
    </div>
</div>

{% block content %}
{% endblock %}