{% include 'base.html' %}



<div id="active-filters" class="row container-fluid">
    <nav aria-label="breadcrumb" class="d-flex">
        <h6>Your active searches:</h6>
        <ul>
            <li>First result</li>
            <li>Second result</li>
        </ul>
    </nav>
</div>
<hr>
<div class="container-fluid">
    <div class="row">
        <div id="search" class="search-bar">
            search bar
        </div>
        <div>
            <div class="col-md-4 filter-section">
                filter section
            </div>
            <div class="col-md-8 product-section">
                product section
                <div>
                    Product 1
                </div>
                <div>
                    Product 2
                </div>
            </div>
        </div>
    </div>
</div>

{% block content %}
{% endblock %}