{% include 'base.html' %}

<div class="container">
    <div class="row">
        <div id="register-section" class="col-md-6 order-md-1 order-2">
            <form method="post" action="{% url 'account_signup' %}">
            {% csrf_token %}
            <label for="first-name" class="form-label">First Name: </label>
            <input type="text" class="form-control" id="first-name" name="first_name"  placeholder="e.g. John">
            <label for="last-name" class="form-label">Last Name: </label>
            <input type="text" class="form-control" id="last-name" name="last_name" placeholder="e.g. Doe">
            <label for="email" class="form-label">Email: </label>
            <input type="email" class="form-control" id="email" name="email" placeholder="e.g. email@email.com">
            <label for="phone" class="form-label">Phone Number: </label>
            <input type="text" class="form-control" id="phone" name="phone" placeholder="e.g. 0000-000-000">
            <label for="password" class="form-label">Password: </label>
            <input type="text" class="form-control" id="password" name="password"
                placeholder="Create a secure and easy to remember password.">
            <label for="retype-password" class="form-label">Re-Type password: </label>
            <input type="text" class="form-control" id="retype-password" name="retype_password" placeholder="Retype your password.">
            <div class="d-flex justify-content-center mt-4">
                <button id="register-button" type="submit" class="btn btn-secondary">Register</button>
            </div>
            </form>
        </div>

        <div id="why-register" class="col-md-6 order-md-2 order-1 text-center">
            <div class="col-md-12">
                <img id="register" src="../static/images/register.png" alt="icon representing a user" class="img-fluid"
                    width="30%;">
            </div>
            <div class="col-md-12">
                <h5>Why register:</h5>
                <h6>Access our tool:</h6>
                <p class="tool-access-register">We have created a fantastic tool to help you find customized and
                    recommended products addressed
                    specific for your condition.
                    Check it out here:</p>
                <a href="recommended.html" target="_blank">Recommendation tool <i class="fa-solid fa-fire"></i></a>
                <h6>Become part of our awesome team:</h6>
                <p class="join-team-register">You don`t have to do it! It is not mandatory.....but it is highly
                    recommended!
                    You can become part of such a great team and community. All of us are here to help you find out how
                    you can transform your passion for essential oils and a healthy lifestyle, into a source of income
                    and free products.
                </p>
            </div>
        </div>
    </div>
</div>

{% block content %}
{% endblock %}