{% load static %}
{% include 'base.html' %}

<div class="container text-center" id="registration-succcess">

    <!--Registration success image-->
    <img src="{% static 'images/register-success.webp' %}" alt="two people celebrating" width="20%">

    <!--Registration success text-->
    <h4>Congratulations, you have successfully submitted your create account request.</h4>
    <h5>Your request will be reviewed and will be contacted by our team to confirm your access to our awesome tools and database!</h5>
</div>

{% block content %}
{% endblock %}