{% extends 'base.html' %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-6 order-md-1 order-2" id="register-form">
            <!--Registration form section pulling allauth form details and the customized form details from forms.py-->
            <form id="register-section" method="post">
                {% csrf_token %}
                {% for field in signup_form %}
                <div class="form-field">
                    {{ field.label_tag }}
                    {{ field }}
                    {% if field.help_text %}
                    <div class="helptext">{{ field.help_text }}</div>
                    {% endif %}
                    {% if field.errors %}
                    <ul class="errorlist">
                        {% for error in field.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                {% endfor %}
                <div class="d-flex justify-content-center mt-4">
                    <button id="register-button" class="btn btn-secondary" type="submit">Register</button>
                </div>
            </form>
        </div>

        <!--Section containing description on why register and link to recommended.html.-->
        <div id="why-register" class="col-md-6 order-md-2 order-1 text-center">
            <div class="col-md-12">
                <img id="register" src="../static/images/register.webp" alt="icon representing a user"
                    class="img-fluid">
            </div>
            <div class="col-md-12">
                <h5>Why register:</h5>
                <h6>Access our tool:</h6>
                <p class="tool-access-register">We have created a fantastic tool to help you find customized and
                    recommended products addressed
                    specific for your condition.
                    Check it out here:</p>
                <!--Link to recommended.html-->
                <a href="{% url 'recommended' %}">Recommendation tool <i class="fa-solid fa-fire"></i></a>
                <h6>Become part of our awesome team:</h6>
                <p class="join-team-register">You don`t have to do it! It is not mandatory.....but it is highly
                    recommended!
                    You can become part of such a great team and community. All of us are here to help you find out how
                    you can transform your passion for essential oils and a healthy lifestyle, into a source of income
                    and free products.
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock %}