{% include 'base.html' %}

<div class="container">
    <div class="row">
        <div id="register-section" class="col-md-6 order-md-1 order-2">
            <form method="post">
                {% csrf_token %}
                {{ signup_form.as_p }}
                <div class="d-flex justify-content-center mt-4">
                    <button id="register-button" class="btn btn-secondary" type="submit">Register</button>
                </div>
            </form>
        </div>

        <div id="why-register" class="col-md-6 order-md-2 order-1 text-center">
            <div class="col-md-12">
                <img id="register" src="../static/images/register.png" alt="icon representing a user" class="img-fluid"
                    width="30%;">
            </div>
            <div class="col-md-12">
                <h5>Why register:</h5>
                <h6>Access our tool:</h6>
                <p class="tool-access-register">We have created a fantastic tool to help you find customized and
                    recommended products addressed
                    specific for your condition.
                    Check it out here:</p>
                <a href="recommended.html" target="_blank">Recommendation tool <i class="fa-solid fa-fire"></i></a>
                <h6>Become part of our awesome team:</h6>
                <p class="join-team-register">You don`t have to do it! It is not mandatory.....but it is highly
                    recommended!
                    You can become part of such a great team and community. All of us are here to help you find out how
                    you can transform your passion for essential oils and a healthy lifestyle, into a source of income
                    and free products.
                </p>
            </div>
        </div>
    </div>
</div>

{% block content %}
{% endblock %}